* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
    font-size: 16.5px;
    font-family: Arial, Helvetica, sans-serif;
	line-height: 20%;
}
/* Header styles */
header {
	background-color: #333;
	color: #01EEC4;
	padding: 20px;
	width: 100%;
	display: flex;
}

header h1 {
	font-size: 32px;
}
nav{
	padding-top: 14px;
}
nav ul {
	list-style: none;
	display: flex;
	position: absolute;
	right: 80px;
	
}

nav li {
	margin-right: 20px;
}
nav a:hover{
    color: #01EEC4;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* Main styles */
main {
	width: 950px;
	margin: 0 auto;
	padding: 20px;
}

section {
    background: #FAFAFA;
    padding: 20px;
    border: 1px solid #e9e8e8;
	margin-bottom: 10px;
}

section h2 {
	font-size: 28px;
	margin-bottom: 40px;
}

section p, section ul{
	margin-bottom: 20px;
    line-height: 1.8em;
}

section li {
	margin-bottom: 10px;
    list-style: none;
}

/* Footer styles */
footer {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}
